openapi: 3.1.0
info:
  title: Thunes Money Transfer Account Management Credit Parties API
  description: 'Real-time cross-border money transfer to bank accounts, mobile wallets,

    cash pickup, and cards via the Thunes global payouts network.

    '
  version: '2.0'
  contact:
    name: Thunes Developer Portal
    url: https://docs.thunes.com/money-transfer/v2/
servers:
- url: https://api.thunes.com/v2/money-transfer
  description: Production
- url: https://api-pp.thunes.com/v2/money-transfer
  description: Pre-production / Sandbox
security:
- basicAuth: []
tags:
- name: Credit Parties
paths:
  /payers/{id}/{transaction_type}/credit-party-information:
    post:
      tags:
      - Credit Parties
      summary: Get beneficiary credit-party information
      operationId: getCreditPartyInformation
      parameters:
      - $ref: '#/components/parameters/PayerId'
      - name: transaction_type
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Credit party info.
  /payers/{id}/{transaction_type}/credit-party-verification:
    post:
      tags:
      - Credit Parties
      summary: Verify beneficiary account status
      operationId: verifyCreditParty
      parameters:
      - $ref: '#/components/parameters/PayerId'
      - name: transaction_type
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Verification result.
components:
  parameters:
    PayerId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: Payer identifier.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication using API key as user-ID and API secret as password.
